<header class="z-50 relative flex flex-none flex-col container">
  <style>
  @font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 600;
  src: url('/static/assets/fonts/Roboto-Regular.ttf') format('truetype');
  }

  .custom-font {
  font-family: 'Roboto-Regular', sans-serif;
  }
  </style>
  <!-- Navbar start -->
  <div class="navbar bg-base-100">
    <div class="lg:hidden navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="{% url 'blog_index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'post_list' %}">Posts</a></li>
          <li><a href="">Templates</a></li>
          <li><a href="{% url 'build_in_public' %}">Build in Public</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center mx-auto hidden lg:flex bg-base-100">

      <ul class="menu menu-horizontal px-1 text-accent">
        <li><a class="custom-font" href="{% url 'blog_index' %}">Home</a></li>
        <li><a class="custom-font" href="{% url 'about' %}">About</a></li>
        <li><a class="custom-font" href="{% url 'post_list' %}">Posts</a></li>
        <li><a class="custom-font" href="">Templates</a></li>
        <li><a class="custom-font" href="{% url 'build_in_public' %}">Build in Public</a></li>
      </ul>
    </div>
    <!-- <div class="navbar-end"> -->
    <!--   <a class="btn btn-secondary">Subscribe</a> -->
    <!-- </div> -->
  </div>
  <!-- Navbar end -->
</header>

