{% extends 'base.html' %}
{% load static %}
{% load static markdownify %}
{% block title %}MarcusL- Home{% endblock %}

{% block content %}
<div class="px-4 sm:px-8 mt-10 sm:mt-20 mb-20">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <header class="max-w-2xl">
        <h1 class="text-4xl font-bold tracking-tight text-base-content sm:text-5xl">Writing on <span class="text-accent">Venture Building, Startups, <span class="text-base-content">&</span> the GRUG Stack Framework.</span></h1>
        <p class="mt-6 text-base text-base-content">Sharing my <a href="{% url 'post_list' %}" class="link hover:text-secondary">learnings and thoughts</a> on startups and web devevelopment. My <a href="" class="link hover:text-secondary">templates, tools, and resources</a> that I find useful for startups.</p>
      </header>
      <section class="mt-10 sm:mt-16">
        <h2 class="font-bold tracking-tight text-base-content text-2xl sm:text-3xl">Latest Posts</h2>
        {% for post in latest_posts %}
        <article class="mt-6">
          <a href="{% url 'post_detail' post.id %}">
            <div class="hover:bg-accent hover:text-base-100 rounded-lg p-2 duration-500">
              <h3 class="text-2xl font-bold">{{ post.title }}</h3>
              <p class="mt-2">{{ post.pub_date }}</p>
              <p class="text-xs">Tag: {{ post.tag.name }}</p>
              <div class="mt-4">
                {{ post.content | markdownify | striptags | truncatechars:200 }}
              </div>
              <a class="mt-4 hover:text-primary underline" href="{% url 'post_detail' post.id %}">Read more</a>
            </div>
          </a>
        </article>
        {% endfor %}
      </section>
    </div>
  </div>
</div>
{% endblock %}
