{% extends 'base.html' %}
{% load static markdownify %}
{% block title %}MarcusL-{{ post.title }}{% endblock %}

{% block content %}
<div class="px-4 sm:px-8 mt-4 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">

      <!-- Breadcrumb  -->
      <div class="text-sm text-base-content breadcrumbs">
        <ul>
          <li><a class="hover:text-accent no-underline" href="{% url 'about' %}">Home</a></li> 
          <li>{{ post.title }}</li>
        </ul>
      </div>

      <!-- Main Content -->
      <header class="mt-6">
        <h2 class="font-bold tracking-tight text-base-content text-2xl sm:text-3xl">{{ post.title }} </h2>
        <p class="my-1 text-xs">Tag: <span class="text-xs">{{ post.tag.name }}</span></p>
        <div class="card-actions">
          <p class="my-1 text-xs">Category: 
          {% for category in post.category.all %}
          <span class="text-xs">{{ category }}</span>
          {% endfor %}
          </p>
        </div>
        <p class="my-1 text-xs">
        Published on {{ post.pub_date }}
        </p>
      </header>

      <section class="mt-6 mb-24">
          <div>{{ post.content | markdownify }}</div>
      </section>

    </div>
  </div>
</div>
<script src="{% static 'js/codehilite-copy-btn.js' %}"></script>
{% endblock %}
