{% extends 'base.html' %}
{% load static markdownify %}
{% block title %}MarcusL-{{ post.title }}{% endblock %}

{% block content %}
<div class="px-4 sm:px-8 mt-4 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">

      <!-- Breadcrumb  -->
      <div class="text-sm breadcrumbs">
        <ul>
          <li><a href="{% url 'post_list' %}">Post Archive</a></li> 
          <li>{{ post.title }}</li>
        </ul>
      </div>

      <!-- Main Content -->
      <header class="mt-6">
        <h2 class="font-bold tracking-tight text-base-content text-2xl sm:text-3xl">{{ post.title }} </h2>
          <p class="text-xs">Tag: <span class="text-xs badge bg-accent text-base-100">{{ post.tag.name }}</span></p>
          <p class="text-xs">
            Published on {{ post.pub_date }}
          </p>
        </div>
      </header>

      <section class="mt-6 mb-24">
          <div>{{ post.content | markdownify }}</div>
      </section>

    </div>
  </div>
</div>
{% endblock %}
