{% extends 'base.html' %}
{% load static %}
{% block title %}MarcusL-Posts Archive{% endblock %}

{% block content %}
<div class="px-4 sm:px-8 mt-6 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <header class="max-w-2xl mb-10">
        <h2 class="text-4xl text-accent sm:text-5xl">Posts Archive</h2>
      </header>
      {% if posts %}
      <ul class="list-none">
        {% for post in posts %}
        <a href="{% url 'post_detail' post_id=post.id %}" class="no-underline hover:text-accent">
          <div class="flex text-base-content hover:text-secondary">
            <li class="mb-2 mr-4 hidden sm:block">
              <td>{{ post.pub_date|date:"Y · M · d" }}</td>
            </li>
            <li class="mb-2 mr-4 block sm:hidden">
              <td>{{ post.pub_date|date:"y/m/d" }}</td>
            </li>
            <li>
              <td>{{ post.title }}</td>
            </li>
          </div>
        </a>
        {% endfor %}
      </ul> 
      {% else %}
      <p> no posts yet. </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
