
{% load static %}
{% load static tailwind_tags %}

<html lang="en" data-theme="cmyk" class="h-full">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'css/code-styles.css' %}">
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}">
    <script src="https://unpkg.com/hyperscript.org@0.9.12" defer></script> <!-- TODO: Download and host it -->
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>

    {% tailwind_css %}
    {% block extra_head %}
    {% endblock extra_head %}

  </head>

  <body class="h-full" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="relative flex w-full flex-col ">
      <!-- Header start -->
      {% include 'partials/_header.html' %}
      <!-- Header end -->

      <!-- Main Content Block start-->
      <main class="min-h-screen">
        <div id="content" class="container">
          <div class="flex-auto">
            {% block content %}
            {% endblock content %}
          </div>
          <aside>
            {% block sidebar %}
            {% endblock sidebar %}
          </aside>
        </div>
      </main>
      <!-- Main Content Block end-->

      <!-- Footer start-->
      {% include 'partials/_footer.html' %}
      <!-- Footer end-->
    </div>

    {% block extra_js %}
    {% endblock extra_js %}
  </body>

</html>



