
{% load static %}
{% load static tailwind_tags %}

<html lang="en" data-theme="cmyk" class="h-full">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'css/code-styles.css' %}">
    <script src="https://unpkg.com/hyperscript.org@0.9.12" defer></script> 
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    

  </head>

  <body class="h-full" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="relative flex w-full flex-col ">
      <!-- Header -->
      {% include 'partials/_header.html'%}

      <!-- Main Content Block -->
      <main>
        <div class="flex-auto container">
          {% block content %}
          {% endblock content %}
        </div>
        <aside class="container">
          {% block sidebar %}
          {% endblock sidebar %}
        </aside>
      </main>

      <!-- Footer -->
      {% include 'partials/_footer.html' %}

    </div>
  </body>

</html>



