{% extends 'base.html' %}
{% load static %}
{% block title %}MarcusL- Templates{% endblock %}
{% block content %}

<div class="px-4 sm:px-8 mt-6 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">

      <header class="mb-20">
        <h2 class="text-4xl text-accent sm:text-5xl">Swag</h2>
      </header>
      <section sr-only="category section">
        <!-- category section -->
      </section>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for product, front_image in products_with_images %}
          <a href="{% url 'product_detail' product_id=product.id %}" class="">
            <div class="card bg-base-100 shadow-xl">
              {% if front_image %}
                <figure>
                  <img 
                    src="{{ front_image.image.url }}" 
                    alt="{{ front_image.image_tag }}" 
                    class="h-full w-full object-cover object-center group-hover:opacity-75">
                </figure>
              {% endif %}
              <div class="card-body">
                <h2 class="card-title">
                  {{ product.name }}
                </h2>
                <p>{{ product.description }}</p>
                <p> $ {{ product.price }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
